:root {
    --base-font-color: #FAFAFA;
    --medium-gray: #393E46;
    --dark-gray: #222831;
    --yellow: #FFD369;
    --light-gray: #999;
    --black: #121212;
    --red: #FD5757;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--dark-gray);
    color: var(--base-font-color);
}

.app {
    display: flex;
}

.page-title {
    font-size: 2rem;
    margin: 2rem 0 1rem;
}