.button {
    border: solid var(--yellow) 1px;
    background-color: transparent;
    color: var(--yellow);
    text-align: center;
    padding: 0.4rem 0.6rem;
    border-radius: 0.15rem;
    font-size: 1rem;
    cursor: pointer;
}

.primary {
    background-color: var(--yellow);
    color: var(--black);
    border: none;
}

.secondary {
    background-color: var(--light-gray);
    color: var(--base-font-color);
    border: none;
}

.tertiary {
    background-color: var(--medium-gray);
    color: var(--base-font-color);
    border: 1px solid #FFF;   
}