.lateral-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--medium-gray);
    height: 100vh;
    width: 25vw;
    min-width: 200px;
    max-width: 500px;
    padding: 2rem 0.5rem;
    margin-right: 1rem;
}

.lateral-menu button {
    color: var(--base-font-color);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}