.button {
    border: solid var(--yellow) 1px;
    background-color: transparent;
    color: var(--yellow);
    text-align: center;
    padding: 0.3rem 0.5rem;
    border-radius: 0.15rem;
}

.primary {
    background-color: var(--yellow);
    color: var(--black);
    border: none;
}

.secondary {
    background-color: var(--light-gray);
    color: var(--black);
    border: none;
}