.gift-to-friend-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    max-width: 800px;
    min-height: 2rem;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
}

.button-wrapper button {
    margin-left: 1.5rem;
}